.result {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    background-color: #546e7a;
    min-height: 400px;
    max-width: 1024px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.result p, .result h2 {
    text-align: center;
}

.result p {
    padding-left: 5px;
    padding-right: 5px;
}

.result img {
    margin: auto;
}

.spinner {
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}